$color1: #e4e3e8;
$color2: #ffffff;
$color3: #222128;
$color4: black;
$color5: #f84b15;

$font: "Poppins", sans-serif;
$fw-1: 100;
$fw-2: 200;
$fw-3: 400;
$fw-4: 500;
$fw-5: 700;

*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $color1;
    background-image: url("../assets/images/sanctuary.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font;
    color: $color2;

    &:before
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: .925;
    }
}

header, #logo-container, #equalizer
{
    z-index: 1;
}

header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    h1
    {
        letter-spacing: 1px;
        font-weight: $fw-5;
    }

    #socials
    {
        display: flex;
        list-style: none;

        li
        {
            a
            {
                margin-left: 13px;

                svg
                {
                    width: 33px;
                    fill: $color2;
                    transition: fill .2s ease-in-out;

                    &:hover
                    {
                        fill: $color5;
                    }
                }
            }
        }
    }
}

#logo-container
{
    width: 200px;

    img
    {
        width: 100%;
        height: 100%;
    }
}

#equalizer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    font-size: 15px;

    #play-pause-button
    {
        transition: color .2s ease-in-out, letter-spacing .2s ease-in-out;
        letter-spacing: 2px;
        font-weight: $fw-4;
        cursor: pointer;

        &:hover
        {
            color: $color5;
            text-decoration: underline;
        }
    }
}